@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>
        Hello, To my Page!
    </h2>
    <p>
        Visit me on social media
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="https://www.facebook.com/rose.shamiaa/">Facebook</a>
    </p>
</div>