
@{
    ViewBag.Title = "UploadSuccess";
}

<h2>تمت العملية بنجاح</h2>



<a href="@Url.Action("NewVideo", "Home")" class="btn btn-primary btn-large">
    <span>اضافة فيديو جديد</span>
</a>

<a href="@Url.Action("NewNotification", "Home")" class="btn btn-primary btn-large">
    <span>اشعار جديد</span>
</a>